ghidra_11.0*
/ghidra_11.0*
LLM_CTF_Database
test.sh
/logs
/logs_squidagent
tool.zip
/tmux_status

__pycache__/
*.py[cod]
*$py.class
Sample_Database
decomp
html/*
LLM_CTF_Dataset_Dev/
myenv
.DS_Store
llm_ctf/.DS_Store
llm_ctf/toolset/.DS_Store
.venv/
venv/*
env/
keys.cfg
/smolagentsfork
temp/
tmux_status/*
artifacts/
rag_db/*
Challenges/
metactf_challenges/
metactf_cache/
debug_challenges_*.html
Challenges/*
utils/lakectf/*